@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Human Newspaper Gothic";
    font-style: normal;
    font-weight: 100;
    src: url(/fonts/HMFMSMG.woff) format("woff");
  }
}

body {
  font-family: "Human Newspaper Gothic";
}
